body {
    background-color: #CAE0BC
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, 
    sans-serif;
    margin: 0;
}
header {
    background-color:   #fff;
    display: flex;
    justify-content: space-around;
    align-self: center;
    border-bottom: 4px solid #fff;
}
.logo {
    width: 200px;

}
.logo img {
    width: 100%;

}
nav {
    background-color: #fff ;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}
li {
    margin-right: 20px;

}
a{
    text-decoration: none;
}
a :hover { 
text-decoration: underline; t
ext-underline-offset: 8px; 
text-decoration-color: antiquewhite;
} 
.hero img { 
width: 100%;
 } 
 .hero-text { 
background-color: rgb(188, 251, 187); 
color: rgb(0, 0, 0);
 padding: 10px; text-align: center; 
}
#about{
    background-image: url(asset/MY\ YOUTH\ FILLED\ WITH\ 7DREAM.jpg);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75vh;
    padding: 20px;
    background-color: #CAE0BC;
}
#about h2 {
    margin-top: 100px;
    width: 50%;
    padding-left: 40px;
}
#about p {
    width: 50%;
    padding-left: 40px;
}
#product {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: 40px;
  }
  
  
  #product h2 {
    text-align: center;
    color: #344CB7;
  }
  
  
  .card-product {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  
  .card button:hover {
    opacity: 0.7;
  }
  #product {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: 40px;
  }
  
  
  #product h2 {
    text-align: center;
    color: #344CB7;
  }
  
  
  .card-product {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  
  .card button:hover {
    opacity: 0.7;
  }

  #contact {
    width: 100%;
    display: flex;
    padding: 30px;
    border: 1px solid #a3f1ac;
  }

  .contact-text {
    align-items: center;
    padding-left: 70px;
    }
    .contact-text h4 {
        color: #000000;
    }
      .contact-text p{
        font-size: xx-large;
      }
      .contact-text button {
        padding: 8px 35px;
        background-color: #f2d1e2;
        border: none;
      }
      .contact-text button:hover {
        background-color: coral;
        color: darksalmon;
      }


.contacy-text{
  align-items: center;
  padding: ;
}

      footer{
        text-align: center;
        padding: 12px;
        background color: #DDF6D2;
        color: #000000
    }